*{ color: white;}
.contactoTitulo{margin-top: 2rem; color: #09BC8A;}
.body{background-color:#000336;}
.transparente{opacity: 0.8;}

/*footer*/
.footerGeneral{
    background-color: #09BC8A;
}
.footerTitles{
    color: #000336;
}
.footerLink{
    color: #373737;
}
.iconos{
    color: #000336;
}

/* navbar */

nav{
    
    background-color: #000336 ;
    
}
/* agregue para que el navbar no quede tarnsparente*/



.abajo {

    background-color: #000336;
    transition: 1.5s;

}




.text-color-nav {
    color: #09BC8A !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
}

.icono-placholder {
    font-family: 'Patua One', fontAwesome;
}


.navbar-toggler {
    background-color: #09BC8A !important;
}


.text-color-nav:hover {
    color: white !important;

}

.btn-nav {
    width: 100px;
    height: 40px;
}

.btn-buscar {
    border-color: #09BC8A !important;
    color: #fff !important;
    box-shadow: 0 0 40px 40px #09BC8A inset, 0 0 0 0 #09BC8A !important;
    -webkit-transition: all 150ms ease-in-out !important;
    transition: all 150ms ease-in-out !important;
    text-decoration: none;
}

.btn-buscar:hover {
    box-shadow: 0 0 10px 0 #09BC8A inset, 0 0 10px 4px #09BC8A !important;
    color: #09BC8A !important;
}



.form-control {
    border-color: none;
}

.form-control:hover {
    box-shadow: 0 0 10px 0 #09BC8A inset, 0 0 10px 4px #09BC8A !important;
}


.borde-color {
    border: 2px solid #09BC8A !important;

}

.back-boton-nav {
    background-color: #000336 !important;

}

.back-boton-nav:hover {
    background-color: #09BC8A !important;
    transition: 0.5s;
}

.color-icono {
    color: #09BC8A !important;
    border-left: 1px solid white;
    padding-left: 10px;
}

.color-icono-hd {
    color: #09BC8A !important;

}

.home-icono-nav {
    color: #09BC8A !important;
}

.bg-transparent {
    background-color: #000336 !important;
}

.back-modal {
    background-color: #373737 !important;
}

.back-input {
    background-color: #292929 !important;
}

.back-avatar-card {
    background-color: transparent !important;
}

.link-recup-contraseña {
    text-decoration: none;
    color: #09BC8A;
}




@media (max-width:992px) {
    .imagen-logo {
        display: none;
    }

    .home-nav {
        display: none;
    }

    .descripcion-pelicula-principal {
        display: none !important;
    }

    .titulo-pelicula-principal {
        display: none;
    }


}

@media (min-width:992px) {
    .home-icono-nav {
        display: none !important;

    }
}

@media (max-width: 280px) {
    a.btn-buscar {
        padding: 0px !important;

    }

    svg {
        height: 30px;

    }
}

/* AQUI TERMINA EL CODIGO CSS PARA EL NAV */

@media(max-width:400px){
.mapa{
    width:300px;
    
 
}
}


