:root {
	--fondo: #000000;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.detallebody {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: rgb(0, 0, 0);
}

.contenedor {
	width: 90%;
	margin: auto;
}

.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0,0,0, 1) 100%), url(./651486.png);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

 @media screen and (max-width: 800px) {
	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}}

	
	/* Aqui comienzan las cards */
	
.conteiner-reparto{
	width: 100%;
	height: 100%;
	margin-top: 0%;
	text-align: center;
    font-size: 130%;
    color:rgb(255, 255, 255);
	}
.card{
	background-color: #000;
	position: relative;
	padding: 4%;
	width: 300px;
	height: 350px;
	margin: 0px;
	margin-block: 14%;
	margin-top: 0%;
	}
.card .face{
	position: absolute;
	width: 60%;
	height: 105%;
	backface-visibility: hidden;
	border-radius: 15px;
	overflow: hidden;
	transition: .5s;
	}
.card .front{
	transform: perspective(600px) rotateY(0deg);
	box-shadow: 0 5px 10px rgb(255, 255, 255);
	}
.card .front img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
    }
.card .front h3{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4px;
	line-height: 45px;
	color: #fff;
	background: rgba(0,0,0, 0);
	text-align: center;
	font-size: 0spx;
	}
.card .back{
	transform: perspective(600px) rotateY(180deg);
	background: #09BC8A;
	padding: 20px;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow: 0 5px 10px rgb(255, 255, 255);
	}
.card .back .link{
	border-top: solid 1px #ffffff;
	height: 50px;
	line-height: 50px;
	}
.card .back .link a{
	color: #ffffff;
	}
.card .back{
	font-size: 12px;
	margin-top: 0px;
	letter-spacing: 2px;
	}
.card .back p{
	letter-spacing: 1px;
	}
.card:hover .front{
	transform: perspective(600px) rotateY(180deg);
	}
.card:hover .back{
	transform: perspective(600px) rotateY(360deg);
	}
.name{
	font-size: 18px;
}

	/* Aqui terminan las cards */




/* Aqui comienza el footer  */

.footerGeneral{
		background-color: #09BC8A;
	}
.footerTitles{
		color: #000336;
	}
.footerLink{
		color: #373737;
	}
.iconos{
		color: #000336;
	}

/* Aqui termina el footer  */